<a href="https://colab.research.google.com/github/kurtsenol/pandas/blob/master/WebScraping/webscraping_email.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WEB SCRAPING

In [ ]:
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')


user_agent = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.50 Safari/537.36'
chrome_options.add_argument(f'user-agent={user_agent}')


wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
     |████████████████████████████████| 911kB 2.7MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium) (1.24.3)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:5 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Get:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release [564 B]
Get:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release.gpg [833 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ Packages [96.1 kB]
Get:12 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [897 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [10.1 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [116 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,089 kB]
Get:19 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Packages [47.5 kB]
Get:20 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [43.0 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [27.7 kB]
Get:22 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,867 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,384 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,425 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [132 kB]
Get:26 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [901 kB]
Fetched 8,331 kB in 4s (2,372 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension adobe-flashplugin
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 77 not upgraded.
Need to get 79.2 MB of archives.
After this operation, 268 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 85.0.4183.83-0ubuntu0.18.04.2 [1,118 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 85.0.4183.83-0ubuntu0.18.04.2 [70.3 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 85.0.4183.83-0ubuntu0.18.04.2 [3,431 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 85.0.4183.83-0ubuntu0.18.04.2 [4,412 kB]
Fetched 79.2 MB in 3s (24.4 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 144579 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_85.0.4183.83-0ubuntu0.18.04.2_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (85.0.4183.83-0ubuntu0.18.04.2) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_85.0.4183.83-0ubuntu0.18.04.2_amd64.deb ...
Unpacking chromium-browser (85.0.4183.83-0ubuntu0.18.04.2) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_85.0.4183.83-0ubuntu0.18.04.2_all.deb ...
Unpacking chromium-browser-l10n (85.0.4183.83-0ubuntu0.18.04.2) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_85.0.4183.83-0ubuntu0.18.04.2_amd64.deb ...
Unpacking chromium-chromedriver (85.0.4183.83-0ubuntu0.18.04.2) ...
Setting up chromium-codecs-ffmpeg-extra (85.0.4183.83-0ubuntu0.18.04.2) ...
Setting up chromium-browser (85.0.4183.83-0ubuntu0.18.04.2) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (85.0.4183.83-0ubuntu0.18.04.2) ...
Setting up chromium-browser-l10n (85.0.4183.83-0ubuntu0.18.04.2) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: DeprecationWarning: use options instead of chrome_options

In [ ]:
### FIND ELEMENTS

# h1 = driver.find_element_by_name('h1')
# h1 = driver.find_element_by_class_name('someclass')
# h1 = driver.find_element_by_xpath('//h1')
# h1 = driver.find_element_by_id('greatID')

# all_links = driver.find_elements_by_tag_name('a')

In [ ]:
### WebElement

# driver.get("https://news.ycombinator.com/login")

# login = driver.find_element_by_xpath("//input").send_keys(USERNAME)
# password = driver.find_element_by_xpath("//input[@type='password']").send_keys(PASSWORD)
# submit = driver.find_element_by_xpath("//input[@value='login']").click()

In [ ]:
### Taking a screenshot

# driver.save_screenshot('screenshot.png')

In [ ]:
### Executing Javascript

# javaScript = "window.scrollBy(0,1000);"
# driver.execute_script(javaScript)

In [ ]:
### Waiting for an element to be present

# try:
#     element = WebDriverWait(driver, 5).until(
#         EC.presence_of_element_located((By.ID, "mySuperId"))
#     )
# finally:
#     driver.quit()

In [ ]:
import time
import pandas as pd
import numpy as np
import math

In [ ]:
from selenium.webdriver.common.action_chains import ActionChains

from selenium.webdriver.support.ui import WebDriverWait

from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as ec

In [ ]:
main_url="https://thegoodpubguide.co.uk/pubs/?paged=1&order_by=category&search=pubs&pub_name=&postal_code="

In [ ]:
wd.get(main_url)

In [ ]:
df = pd.DataFrame(columns =["Name", "Url"])

In [ ]:
for i in range(100):

  if i>0:
    if i ==1:
      x=i+1
    elif 5>i>1:
      x=i+2
    else:
      x=7

    element = WebDriverWait(wd, 20).until(ec.element_to_be_clickable((By.XPATH, f'//*[@id="search-results"]/div[2]/div/div/ul/li[{x}]/a')))
    ActionChains(wd).move_to_element(element).click().perform()

    time.sleep(5)
  
  names = wd.find_elements_by_class_name('pub-search-results-title')
  names_list = [names[i].text for i in range(len(names))]

  in_urls = [wd.find_element_by_xpath(f'//*[@id="search-results"]/div[1]/div[{i}]/div/div/div[2]/div[1]/p/a').get_attribute("href") for i in range(1,21)]

  df = df.append(pd.DataFrame({"Name":names_list, "Url": in_urls}), ignore_index=True)

In [ ]:
# df.to_csv("/content/drive/My Drive/pub.csv", index=False)

In [ ]:
# df=pd.read_csv("/content/drive/My Drive/pub.csv")

In [ ]:
df

                          Name                                                Url
0                   Bridge Inn  https://thegoodpubguide.co.uk/pub/hr2+0jw/brid...
1                Fox Goes Free  https://thegoodpubguide.co.uk/pub/po18+0hu/fox...
2                         Bull   https://thegoodpubguide.co.uk/pub/sg14+3sb/bull/
3               Kilchrenan Inn  https://thegoodpubguide.co.uk/pub/pa35+1hd/kil...
4                    Refectory  https://thegoodpubguide.co.uk/pub/gu8+5hj/refe...
...                        ...                                                ...
1995  Volunteer Riflemans Arms  https://thegoodpubguide.co.uk/pub/ba1+1bh/volu...
1996        Duke of Wellington  https://thegoodpubguide.co.uk/pub/yo21+2ly/duk...
1997              Fox & Hounds  https://thegoodpubguide.co.uk/pub/po18+9ll/fox...
1998             Rupert Brooke  https://thegoodpubguide.co.uk/pub/cb3+9nq/rupe...
1999                Kings Arms  https://thegoodpubguide.co.uk/pub/la11+6qb/kin...

[2000 rows x 2 columns]

In [ ]:
in_urls = df.Url

In [ ]:
df_1 = pd.DataFrame(columns =["Name", "Address", "Telephone", "Web"])

In [ ]:
for in_url in in_urls:

  wd.get(in_url)

  # name = wd.find_element_by_xpath("/html/body/div[4]/div/div/div[3]/h1").text
  
  try:
    address = wd.find_element_by_xpath("/html/body/div[4]/div/div/div[7]/div/div[1]/div/p[1]").text  
  except:
    address=np.nan

  try:
    phone = wd.find_element_by_xpath("/html/body/div[4]/div/div/div[7]/div/div[1]/div/p[2]").text  
  except:
    phone=np.nan

  try:
    web = wd.find_element_by_xpath("/html/body/div[4]/div/div/div[7]/div/div[1]/div/p[3]/a").text
  except:
    web=np.nan

  df_1 = df_1.append(pd.DataFrame([[name, address, phone, web]], columns=df_1.columns), ignore_index=True)

In [ ]:
df_1.drop("Name", axis=1, inplace=True)

In [ ]:
df_1

                                                Address  ...                                   Web
0     Bridge Inn, Michaelchurch Escley, Hereford, He...  ...   www.thebridgeinnmichaelchurch.co.uk
1     Fox Goes Free, Charlton, Chichester, Sussex, P...  ...                www.thefoxgoesfree.com
2     Bull, 113 High Street, Watton At Stone, Hertfo...  ...               www.thebullwatton.co.uk
3     Kilchrenan Inn, Kilchrenan, Taynuilt, Scotland...  ...               www.kilchrenaninn.co.uk
4     Refectory, Portsmouth Road, Milford, Godalming...  ...  www.brunningandprice.co.uk/refectory
...                                                 ...  ...                                   ...
1995  Volunteer Riflemans Arms, 3 New Bond Street Pl...  ...                                   NaN
1996  Duke of Wellington, 2 West Lane, Danby, Whitby...  ...                                   NaN
1997  Fox & Hounds, Funtington, Chichester, Sussex, ...  ...      www.foxandhoundsfuntington.co.uk
1998  Rupert Brooke, 2 Broadway, Grantchester, Cambr...  ...               www.therupertbrooke.com
1999  Kings Arms, The Square, Cartmel, Grange-over-S...  ...           www.thekingsarmscartmel.com

[2000 rows x 3 columns]

In [ ]:
# df_1.to_csv("/content/drive/My Drive/pub_details.csv", index=False)

In [ ]:
# df_1 = pd.read_csv("/content/drive/My Drive/pub_details.csv")

In [ ]:
df_merged = df.join(df_1)
df_merged

                          Name  ...                                   Web
0                   Bridge Inn  ...   www.thebridgeinnmichaelchurch.co.uk
1                Fox Goes Free  ...                www.thefoxgoesfree.com
2                         Bull  ...               www.thebullwatton.co.uk
3               Kilchrenan Inn  ...               www.kilchrenaninn.co.uk
4                    Refectory  ...  www.brunningandprice.co.uk/refectory
...                        ...  ...                                   ...
1995  Volunteer Riflemans Arms  ...                                   NaN
1996        Duke of Wellington  ...                                   NaN
1997              Fox & Hounds  ...      www.foxandhoundsfuntington.co.uk
1998             Rupert Brooke  ...               www.therupertbrooke.com
1999                Kings Arms  ...           www.thekingsarmscartmel.com

[2000 rows x 5 columns]

In [ ]:
# df_merged.to_csv("/content/drive/My Drive/pub_merged.csv", index=False)

In [ ]:
# df_merged = pd.read_csv("/content/drive/My Drive/pub_merged.csv")
# df_merged

                          Name  ...                                   Web
0                   Bridge Inn  ...   www.thebridgeinnmichaelchurch.co.uk
1                Fox Goes Free  ...                www.thefoxgoesfree.com
2                         Bull  ...               www.thebullwatton.co.uk
3               Kilchrenan Inn  ...               www.kilchrenaninn.co.uk
4                    Refectory  ...  www.brunningandprice.co.uk/refectory
...                        ...  ...                                   ...
1995  Volunteer Riflemans Arms  ...                                   NaN
1996        Duke of Wellington  ...                                   NaN
1997              Fox & Hounds  ...      www.foxandhoundsfuntington.co.uk
1998             Rupert Brooke  ...               www.therupertbrooke.com
1999                Kings Arms  ...           www.thekingsarmscartmel.com

[2000 rows x 5 columns]

In [ ]:
# df_merged.fillna("", inplace=True)

In [ ]:
# df_merged.reset_index(inplace=True)

In [ ]:
df_merged

In [ ]:
df_merged.rename(columns={'index':'URN'}, inplace=True)

In [ ]:
df_merged["URN"] =df_merged["URN"]+1

In [ ]:
df_merged

       URN  ...                                   Web
0        1  ...   www.thebridgeinnmichaelchurch.co.uk
1        2  ...                www.thefoxgoesfree.com
2        3  ...               www.thebullwatton.co.uk
3        4  ...               www.kilchrenaninn.co.uk
4        5  ...  www.brunningandprice.co.uk/refectory
...    ...  ...                                   ...
1995  1996  ...
1996  1997  ...
1997  1998  ...      www.foxandhoundsfuntington.co.uk
1998  1999  ...               www.therupertbrooke.com
1999  2000  ...           www.thekingsarmscartmel.com

[2000 rows x 6 columns]

In [ ]:
df_merged.to_excel("/content/drive/My Drive/pub_2000_part1.xls", index=False)

In [ ]:
df_merged = pd.read_excel("/content/drive/My Drive/pub_2000_part1.xls")

In [ ]:
df_try = df_merged[["Web"]].copy()

In [ ]:
df_try.fillna("", inplace=True)

In [ ]:
df_try["Web"] = df_try["Web"].str.replace("no website", "")

In [ ]:
df_try[(~df_try.Web.str.startswith("www"))&(df_try.Web!="")]["Web"]

227                   http://blackhorseshipston.co.uk
649                              http://carewarms.com
718              https://www.thefountainoldwood.co.uk
1038                             http://theness.co.uk
1050                             http://theness.co.uk
1075                            https://thenewinn.pub
1094                            https://thenewinn.pub
1100                            https://thenewinn.pub
1104                http://www.crewearmshinton.co.uk/
1125                http://www.crewearmshinton.co.uk/
1273                    http:/greatnorthernpub.co.uk/
1286                    http:/greatnorthernpub.co.uk/
1303                         http://maypole.jimdo.com
1310                    http://the-perseverance.co.uk
1386                 http://www.whitestartavern.co.uk
1406             https://www.woolpackwarehorne.co.uk/
1461                     http://whitebull-gisburn.com
1465                      https://gaggleofgeese.co.uk
1495                             http://theness.co.uk
1502                  http://dragoninncrickhowell.com
1506                             http://theness.co.uk
1519                            https://thenewinn.pub
1576                       http://thewoolpackslad.com
1639                    http://the-perseverance.co.uk
1729                          http://tlcwhiteswan.com
1747                 http://www.theherriardinn.co.uk/
1765              http://hareandhoundsmillbrow.co.uk/
1790                  http://www.themartyrsinn.co.uk/
1794    http://ww.the-spotted-dog-bishopsgreen.co.uk/
1935                       http://catandcustard.co.uk
Name: Web, dtype: object

In [ ]:
df_try[(~df_try.Web.str.startswith("www"))&(df_try.Web!="")&(~df_try.Web.str.startswith("http"))]["Web"]

Series([], Name: Web, dtype: object)

In [ ]:
df_try.loc[(~df_try.Web.str.startswith("www"))&(df_try.Web!="")&(~df_try.Web.str.startswith("http")), "Web"] = "http://" + df_try[(~df_try.Web.str.startswith("www"))&(df_try.Web!="")&(~df_try.Web.str.startswith("http"))]["Web"]

In [ ]:
ur ="maypole.jimdo.com"

In [ ]:
wd.get(ur)

InvalidArgumentException: ignored

In [ ]:
df = pd.read_pickle("drive/My Drive/Topic_Modeling/topic_df.pkl")

In [ ]:
df = df[["Journal", "Year"]]

In [ ]:
df= pd.concat([df[:20], df[1000:1020], df[8000:8020]]).reset_index(drop=True)

In [ ]:
df.Journal = df.Journal.str.replace(" ", ",")

In [ ]:
df["Journal"][15:25] = np.nan

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

In [ ]:
df_em = df.Journal.str.split(",", expand=True)
df_em.columns = ["Email address "+str(i+1) for i in range(len(df_em.columns))]

In [ ]:
pd.concat([df, df_em], axis=1)

                                              Journal  ...  Email address 6
0                       JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
1                       JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
2                       JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
3                       JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
4                       JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
5                       JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
6                       JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
7                       JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
8                       JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
9                       JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
10                      JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
11                      JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
12                      JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
13                      JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
14                      JOURNAL,OF,SERVICE,MANAGEMENT  ...             None
15                                                NaN  ...             None
16                                                NaN  ...             None
17                                                NaN  ...             None
18                                                NaN  ...             None
19                                                NaN  ...             None
20                                                NaN  ...             None
21                                                NaN  ...             None
22                                                NaN  ...             None
23                                                NaN  ...             None
24                                                NaN  ...             None
25                          CURRENT,ISSUES,IN,TOURISM  ...             None
26                          CURRENT,ISSUES,IN,TOURISM  ...             None
27                          CURRENT,ISSUES,IN,TOURISM  ...             None
28                          CURRENT,ISSUES,IN,TOURISM  ...             None
29                          CURRENT,ISSUES,IN,TOURISM  ...             None
30                          CURRENT,ISSUES,IN,TOURISM  ...             None
31                          CURRENT,ISSUES,IN,TOURISM  ...             None
32                          CURRENT,ISSUES,IN,TOURISM  ...             None
33                          CURRENT,ISSUES,IN,TOURISM  ...             None
34                          CURRENT,ISSUES,IN,TOURISM  ...             None
35                          CURRENT,ISSUES,IN,TOURISM  ...             None
36                          CURRENT,ISSUES,IN,TOURISM  ...             None
37                          CURRENT,ISSUES,IN,TOURISM  ...             None
38                          CURRENT,ISSUES,IN,TOURISM  ...             None
39                          CURRENT,ISSUES,IN,TOURISM  ...             None
40  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
41  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
42  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
43  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
44  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
45  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
46  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
47  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
48  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
49  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
50  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
51  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
52  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
53  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
54  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
55  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
56  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
57  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
58  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT
59  INTERNATIONAL,JOURNAL,OF,CONTEMPORARY,HOSPITAL...  ...       MANAGEMENT

[60 rows x 8 columns]



```
function ClickConnect(){
console.log("Working"); 
document
  .querySelector('#top-toolbar > colab-connect-button')
  .shadowRoot.querySelector('#connect')
  .click() 
}
setInterval(ClickConnect,60000)
```